body {
  font-family: 'Bangers', cursive;
  margin: 10px 100px 10px 100px;
  text-align: center;
  background-image: url('background.jpg');
}

p {

}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}
