
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Sanchez', serif;*/
/*font-family: 'Handlee', cursive;*/
body {
  font-family: 'Roboto Slab', serif;
}

span {
  font-family: 'Handlee', cursive;
}

p {
}

nav ul {
  font-family: 'Roboto Slab', serif;
  display: block;
  position: fixed;
  list-style: none;
  float: right;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  display: block;
}

.about {
  background-image: url("/Users/latoyawatson/wdi/projects/Personal_Portfolio_Site/background image- blue.png");
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

footer {
  clear:both;
  display: block;
  position: fixed;
}
